<ion-header>
  <ion-toolbar color="tertiary">
      <ion-title>SWALAYAN ANJU</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <img src="assets/icon/sampul.jpg">
    <br><br><br>

    <ion-content padding>

      <img src="assets/icon/halaman.jpg">
      <br><br><br>


    

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/icon/time.jpg"><br><br>
        <ion-card-header>
          <ion-card-subtitle>Rp 15.500</ion-card-subtitle>
          <del><ion-card-subtitle>Rp 16.500</ion-card-subtitle></del>
        </ion-card-header>
        <ion-card-content> stok: 89 buah</ion-card-content>
      </ion-card>
  
    </ion-col>

    <ion-col>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/icon/sari.jpg"><br><br>
        <ion-card-header>
          <ion-card-subtitle>Rp 9.500</ion-card-subtitle>
          <del><ion-card-subtitle>Rp 10.850</ion-card-subtitle></del>
        </ion-card-header>
        <ion-card-content> stok: 89 buah</ion-card-content>
      </ion-card>
  
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/icon/better.jpg"><br><br>
        <ion-card-header>
          <ion-card-subtitle>Rp 7.500</ion-card-subtitle>
          <del><ion-card-subtitle>Rp 9.950</ion-card-subtitle></del>
        </ion-card-header>
        <ion-card-content> stok: 58 buah</ion-card-content>
      </ion-card>
  
    </ion-col>

    <ion-col>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/icon/nes.webp"><br><br>
        <ion-card-header>
          <ion-card-subtitle>Rp 11.500</ion-card-subtitle>
          <del><ion-card-subtitle>Rp 12.700</ion-card-subtitle></del>
        </ion-card-header>
        <ion-card-content> stok: 89 buah</ion-card-content>
      </ion-card>
  
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/icon/12.jpg"><br><br>
        <ion-card-header>
          <ion-card-subtitle>Rp 9.500</ion-card-subtitle>
          <del><ion-card-subtitle>Rp 11.850</ion-card-subtitle></del>
        </ion-card-header>
        <ion-card-content> stok: 89 buah</ion-card-content>
      </ion-card>
  
    </ion-col>
    <ion-col>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/icon/14.jpg"><br><br>
        <ion-card-header>
          <ion-card-subtitle>Rp 15.500</ion-card-subtitle>
          <del><ion-card-subtitle>Rp 16.000</ion-card-subtitle></del>
        </ion-card-header>
        <ion-card-content> stok: 89 buah</ion-card-content>
      </ion-card>
  
    </ion-col>
    </ion-row>
    </ion-grid>
    </ion-content>




